.dashboard-container {
  padding: 20px;
  background-color: #f4f6f8;

  .dashboard-card {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    .card-content {
      text-align: center;

      .card-count {
        font-size: 30px;
        font-weight: 600;
        color: #001529;
        margin-bottom: 10px;
      }

      .card-label {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #595959;
        gap: 8px;

        svg {
          font-size: 20px;
          color: #1890ff;
        }

        span {
          font-size: 14px;
        }
      }

      .card-detail {
        margin-top: 15px;
        font-size: 14px;
        color: #1890ff;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #40a9ff;
        }
      }
    }
  }

  .top-content {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    overflow-x: auto;

    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      color: #001529;
      margin-bottom: 15px;
    }

    .ant-table {
      border-radius: 10px;
    }
  }

  .bieudo {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
