.chart-wrapper {
  position: relative;
}

.chart-filters {
  margin-bottom: 20px; /* Adds space between the filters and the chart */
}

.chart-filters .ant-picker {
  margin-bottom: 8px;
}

.apex-chart-container {
  position: relative;
  height: 350px;
}
