<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Các quyền cần thiết -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Quyền cho truy cập ảnh trên Android 13 (API 33) trở lên -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Quyền cũ cho các phiên bản Android dưới 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Tính năng phần cứng camera (không bắt buộc) -->
    <!-- gg map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DATN_MD03_UngDungMuaBanGiaySneakZone"
        android:usesCleartextTraffic="true">
        <service
            android:name=".MyForegroundService"
            android:exported="false"
            android:foregroundServiceType="location|dataSync" />

        <activity
            android:name=".Activity.Activity_ShowList_Voucher"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_Voucher"
            android:exported="false" />
        <activity
            android:name=".Activity.QRCodeCartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ThongbaodsActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity_notifications" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activity.item_notification"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityLocation"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityCTSP_To_ThanhToan"
            android:exported="false" />
        <activity
            android:name=".Activity.Manhinhthanhconganimation"
            android:exported="false" /> <!-- Khai báo các Activity -->
        <activity
            android:name=".Activity.activity_update_avatar"
            android:exported="false" />
        <activity
            android:name=".Activity.CapnhathotenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_Manhinhxacthucdangky"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_manhinhguimadangky"
            android:exported="false" />
        <activity
            android:name=".Activity.Manhinhguimathaydoimatkhau"
            android:exported="false" />
        <activity
            android:name=".Activity.Xacthucmathaydoimatkhau"
            android:exported="false" />
        <activity
            android:name=".Activity.xacthucemailmoi"
            android:exported="false" />
        <activity
            android:name=".Activity.manguimaemailmoi"
            android:exported="false" />
        <activity
            android:name=".Activity.manhinhnhanguima"
            android:exported="false" />
        <activity
            android:name=".Activity.xacthucmaemailhientai"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowListLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_ThanhToan"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CTDH_DaGiao"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CTDH_HuyDH"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CTDH_DangGiao"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_CTDH_ChoXacNhan"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_DonHang"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_DoiMK"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_FixInfor"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_ChiTietSP"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_SP_PhoBien"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_YeuThich"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_Cart"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_Profile"
            android:exported="false" />
        <activity
            android:name=".Activity.DangKy"
            android:exported="false" />
        <activity
            android:name=".Activity.Activity_QuenMatKhau"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.activity_chat"
            android:exported="false" />
        <activity
            android:name=".Activity.DangNhap"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDcxyryj5Dzbcj3GbTt1s7W32MOzHvnuys" />
    </application>

</manifest>